{% extends "base.html" %}
{% load static %}
{% load likes_tags %}
{% block body %}
<a href="/">Вернуться к списку</a>
    <h1 class="display-6">{{object.title}}</h1>
    {% if user.is_authenticated and object.author.id == user.id or user.is_superuser %}
    <a class="btn btn-primary" href="/article-update/{{object.id}}">
      <svg xmlns="{% static 'img/pen-fill.svg' %}" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
      </svg>Редактировать</a>
    
    <a class="btn btn-primary" href="/article-delete/{{object.id}}">
        <svg xmlns="{% static 'img/x.svg' %}" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>Удалить</a>
        
    {% endif %}
    <p class="lead">
        Автор: @{{object.author.usertag}} Создано: {{object.date_create}}
      </p>
      {% if object.author.company %}
        <p class="lead">
            Компания: {{object.author.company}}
        </p>
      {% endif %}
    <div class="bd-example-snippet bd-code-snippet"><p>{{object.body | safe}}</p></div>
      
    {% if user.is_authenticated %}
    <div>
      <form action="/liked/{{object.id}}", method="post">
        {% csrf_token %}
        {% is_liked as liked %}
        {% if not liked %}
        <div class="d-flex gap-2 mb-3">
          <button class="btn btn-primary">
            <svg xmlns="{% static 'img/heart.svg' %}" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368
             5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 
             1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
          </svg>
          {{object.likesarticle_set.all.count}}
          </button>
        </div>
        {% else %}
        <div class="d-flex gap-2 mb-3">
          
          <button class="btn btn-primary">
            <svg xmlns="{% static 'img/heart-fill.svg' %}" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
            </svg>
            {{object.likesarticle_set.all.count}}
          </button>
        {% endif %}
      </form>
    </div>
    {% endif %}

    <div class="mb-3">
      <h5 class="display-6">Оставьте комментарий тут</h5>
    <form action="/comments-create/{{object.id}}" method="post">
      {% csrf_token %}
      
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Введите комментарий тут" name="text_comments"></textarea>
      <button class="btn btn-primary" style="margin-top: 10px;">Отправить комментарий</button>
    </form> 
  </div>
    {% for comment in object.commentsarticle_set.all %}
      <div class="list-item">
        <div class="card-header text-primary mb-3">
          <p>@{{comment.commentator.usertag}}</p>
          <p>{{comment.date_create}}</p>
        </div>
        <div class="card-body ">
          <p class="card-text text-bg-info mb-3">{{comment.text_comments}}</p>
        </div>
      </div>
    {% endfor %}

{% endblock  %}